html, body {
    margin: 0;
    height: 100%;
}
*, ::after, ::before {
    box-sizing:border-box
}
ul, li, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
input {
padding: 0;
margin: 0;
border: 0;
border: none;
outline: 0;
}